 *{
     margin:0px;
     padding:0px;
     box-sizing:border-box;
     color:white;
 }
 
 html {
     font-size:62.5%;
     font-family:"Space Mono";
     color: white;
 }

.header1 {
    background-color: rgb(23,34,42);
    text-align: center;
    font-size:4.2rem;
    height:10vh;
    padding:5px;
    font-weight: 400
}
.header2 {
    background-color: rgb(28,39,51);
    height:12vh;
}

.container {
   font-size: 207rem;

}
.footer1 {
    background: rgb(28,39,51);
    height:10vh;
    
}
.footer2 {
    background: rgb(23,34,42);
    height:7.8vh;
    font-size:2rem;
    padding: 15px;
    text-align: center;
}
.pic {
    width:300px;
    border-radius: 50%;
    box-shadow: 1px 1px 13px black;
    position: relative;
    left:620px;
    bottom: 300px;

}
.mainpicture {
    border-radius:50%;
    width:20%;
    position:relative;
    top: ;
    right: ;
    bottom: ;
    left: ;
    
}
.nav {
    font-size:2.9rem;  
}

ul {
    display:inline-flex;
}

main {
    background-color: rgb(33,47,60);
    height:60vh;
}

.description {

    width: 80rem;
    text-align:center;
    padding:20px;
    position:relative;
    left:25%;
    top:30vh; 
    font-size: 2.2rem;
}
main {
    background-color: rgb(33,47,60);
    height:60vh;
}

.img {
    width:60px;
    position:relative;
    left: 45vw;
    top: -5px;
    padding-lefT:2px;
}
a {
    text-decoration: none;
    font-size:3rem;
}
li {
    list-style-type: none;
    padding: 15px;   
}

.nav1 {
    position:absolute;
    lefT:43rem;
    top: 100px;
}
.nav2 {
    position:absolute;
    lefT:90rem;
    top: 100px;
}
