 <div class="user-details">
  <h1 style="text-align:center; margin-bottom: 0px; padding-top: 0px !important; margin-top:1em;" > Sobre mí </h1>
</div>
  <div class="user" style="display: flex; align-items: center;">
    <div class="tech" style="text-align: left;">
      <p>Soy estudiante de la carrera de Economía en la Universidad del Pacífico y de Economics and Finance en University of London, bajo la dirección académica de The London School of Economics (LSE).</p>
      <p>Antes de sumergirme en el mundo empresarial y startupero, ingresé a la carrera con el profundo anhelo de ser policy-maker y ayudar a mejorar la vida de todos los peruanos impulsando las reformas que el país necesita.</p>
      <p>Descubrí mi pasión por la programación, el aprendizaje continuo, los ambientes cambiantes y las ideas escalables luego de toparme con las personas correctas en medio de la pandemia de la COVID19. Ahí todo comenzó a tomar sentido y decidí que podía ayudar a los demás desde otras trincheras.</p>
      <p>Actualmente me encuentro construyendo el futuro en SkillMapper, una startup en la que ayudamos a jóvenes profesionales a desbloquear su máximo potencial.</p>
      <p><a href="bio.html">Leer más</a></p>      
    </div>
    <div class="tech">
      <img alt="Fabrizio" src="{{ "/assets/img/fabrizio.jpg" | prepend: site.baseurl }}" style="width: 100%; display: block; margin: 0 auto;">
    </div>
  </div>
