<div id="particles-js">
  <div class="header" >
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <p>Apasionado de Startups, Data Science, la automatización de procesos y la solución de problemas reales de manera técnica. Mi misión es construir un mejor mundo a través de soluciones innovadoras y escalables que impacten positivamente en las personas, organizaciones y sociedades. Cuando no estoy estudiando, estoy escribiendo código.
      </p>
      <div class="header-links" style="display: flex; flex-direction: row; justify-content: center;">
        <a class="link" href="#about" data-scroll>Sobre mí</a>
        <a class="link" href="#projects" data-scroll>Proyectos y logros</a>
        <a class="link" href="#">Blog</a>
        <!-- <a class="link" href="https://fabriziosulcar.github.io/blog/">Blog</a> -->
      </div>
      <div class="header-icons">
        <a aria-label="Envíame un email" href="mailto:fr.sulcar@alum.up.edu.pe"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/FabrizioSulcaR"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/fabriziosulcar/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My CV" target="_blank" href="#"><i class="icon fa fa-user" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
