<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <p>Entre mis intereses están la automatización de procesos, las políticas públicas, la ciencia de datos y la economía aplicada. Mi misión es impactar positivamente en las personas y en la sociedad. Cuando no estoy estudiando, estoy escribiendo código.
      </p>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:fr.sulcar@alum.up.edu.pe"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/FabrizioSulcaR"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/FabrizioSulcaR"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/fabrizio-sulca-reynaldo-3736bb197/"><i class="icon fa fa-linkedin-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Sobre mí</a>
        <a class="link" href="#projects" data-scroll>Proyectos y logros</a>
        <a class="link" href="https://fabriziosulcar.github.io/blog/">Blog</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
