<div>
  <h1 class="user-details">Proyectos y logros</h1>
  <h2>Proyectos</h2>
  <h4>Horus, el buscador de contrataciones públicas más completo del país</h4>
  <p style="text-align: left;">HORUS es un buscador de proveedores del Estado en Perú que promueve la transparencia en los contratos gubernamentales. Proporcionamos información actualizada y generamos informes que destacan a los proveedores más activos, los servicios más comunes, las sanciones e inhabilitaciones, y los desafíos en la rendición de cuentas en los contratos públicos en el país. Nuestra herramienta ayuda a identificar proveedores y personas relacionadas con empresas contratadas por el Estado, brindando una visión clara de la situación actual.</p>
  <a class="project-link" href="https://youtu.be/pkkABSAwVWM">Clic aquí</a>

  <h2>Logros</h2>
  <h4>Primer puesto en la Datathon por la Integridad y Lucha contra la Corrupción</h4>
  <p style="text-align: left;">Miembro de ETDLP, equipo ganador de la Datathon por la Integridad y Lucha contra la Corrupción. Iteramos y construimos HORUS, el buscador de contrataciones públicas más completo del país.</p>
</div>
